div {
    max-width: 1600px;
    margin: 0 auto;
}

nav{
    text-align: center;
} 

a{
    text-align: center;
}

hero-msg{
    text-align: center;
} 
h1{
    text-align: center;
}
hero-msg{
    text-align: center;
} 
h4{
    text-align: center;
}
button-box{
    text-align: center;
}
main{
    text-align: center;
} 
section{
    text-align: center;
}
#backgroung {
    height: 725px;
}
body {
    background-color: #fcfbfb; 
}
header {
    background-color:rgba(20,30,13, .7);
}
nav a:hover {
    background-color: black;
}