div {
    max-width: 1600px;
    margin: 0 auto;
}

nav{
    text-align: center;
    text-decoration: none;
} 

a{
    text-align: center;
    text-decoration: none;
}

hero-msg{
    text-align: center;
} 
h1{
    text-align: center;
}
hero-msg{
    text-align: center;
} 
h4{
    text-align: center;
}
button-box{
    text-align: center;
}
main{
    text-align: center;
} 
section{
    text-align: center;
}
#backgroung {
    height: 725px;
}
body {
    background-color: #FFFFFF; 
    color: black;
}
header {
    background-color:#e9ae35;
    color: #FFFFFF;
}
nav a{
    background-color: #e9ae35;
    color: #FFFFFF;
}
nav a:hover {
    background-color:#FFFFFF;
    color: black;
}

.book{
    background-color:#FFFFFF ;
    color: black;
    text-decoration: none;
}
.join{
    background-color:#e9ae35;
    color: black;
    text-decoration: none;
}
.book:hover{
    background-color: #484848;
    color: #FFFFFF;
}
.join:hover{
    background-color: #FFFFFF;
    color: black;
}
#background{
    background-color: black;
    color: #FFFFFF;
}
.msg{
    background-color: #e9ae35;
    color: black;
}
footer{
    background-color: #484848;
    color: #FFFFFF;
    text-decoration: none;
}
.logo{
    width: 80px;
}
#hero-img{
    width: 100%;
}

footer{
    text-decoration: underline;
    color: #FFFFFF;
}
h3{
    text-decoration: underline;
    color: #FFFFFF;
}
a:hover {
    text-decoration: underline;
    color: #FFFFFF;
}