 /* Activity 5 styles */ 
 .content5 {
    /* This is the parent of the activity 5 boxes. */
    height: 400px;
}
.red5 { 
width: 100%; 
height: 100px; 
background-color: red; 
 } 
.green5 { 
width: 100px; 
height: 100px; 
background-color: green;
float: left; 
} 
.yellow5 {
width: 100%; 
height: 150px; 
background-color: gold; 
} 
.blue5 {
width: 100%; 
height: 100px; 
background-color: blue; 
 } 