
header{
 font-family: Stoke , Charis SIL , sans-serif;
 display: grid;
 grid-template-columns: 200px 1fr ;
 background-color: #efefef;
 height: 100%;
 width: 100%;
}

nav{
    margin-top: 86px;
    background-color:#efefef;
    line-height: 30px;
    text-align: center;
    font-size :50px;
}

nav a {
    position: relative;
    bottom: 45px;
    left: 100px;
    min-width: 120px;
    text-decoration: none;
    margin: 20px 40px;
    margin-left: 100px;
    padding: 5px;
    border-radius: 5px;
}

    nav a:link, nav a:visited{
        color:#5d2e8c;
    }

    nav a:hover {
        color:#efefef;
        background-color:#5d2e8c;
      }
    
.logo{
    position: relative;
    width:500px;
    top: 5px;
      }

.content-description{
    display: grid;
    width: 100%;

}


.texto-encima{
    height: 200px;
    background-color: #5d2e8c;
    width: 1133px;
    color: #FFFFFF;
    text-align: center;
    font-size: 50px;
    padding: 50px 100px 50px 100px;
    
}

.button-box{
    cursor: pointer;
    display:grid;
    width: 300px;
    height: 50px;
    background:#FFFFFF;
    color: #5d2e8c;
    position:relative;
    bottom: 110px;
    left: -50px;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
    padding: 10px 40px 20px 40px;
    font-size: 50px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}

.book{
    text-decoration: none;
    color:black;
}

.book:hover{
    color: #FFFFFF;
    transition: .5s;
}
.button-box:hover{
    background-position: left;
     background-image: linear-gradient(to right,   #6f439b ,#cbc7ec  );
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: left;
    transition: background-position .5s ease;

}

.home-grid{
    display: grid;
    grid-template-columns: 1fr 1000px ;
    text-align: center;
    font-family:Ital;
 
}
.goals-grid{
    grid-column: 1/3;
}

.home-grid img{

    position: relative;
   
}

.home-grid .imagenmetas{
    position: relative;
    top: -300px;
    width: 300px;
    height: 300px;
    right: 300px;
   align-items: center;
}


.home-grid .juegos{
    position: relative;
    width: 200px;

}
.p-goals{
    font-family: Stoke , Charis SIL , sans-serif;
    position: relative;
    left: 190px;
    font-size: 20px;
    margin-right: 550px;
    margin-left:500px ;
    text-align: left;
    left: 140px;
    top: -20px;
    font-size:30px;
}

.goals{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    font-size: 50px;
    margin-bottom: 100px;
    left: 300px;
}


.games1{
    font-family: Charis SIL;
    font-size: 50px;
    position: relative;
    right: -150px;
    bottom: 50px;
    margin-bottom: 20px;
}

.games2{
    font-family: Stoke , Charis SIL , sans-serif;
    font-size:30px ;
    margin: 0px 300px 00px 200px;
    text-align: right;
    position: relative;
    right: 180px;
    top: 50px;
}

.games-grid{
    position: relative;
    top: -300px;
}

.intereses-grid{
    position: relative;
    top: -150px;
    left: 400px;
    margin-bottom: -5px;
}

.interests{
    font-size: 50px;
    margin-bottom: 50px;
    position: relative;
    top: -50px;
    
}

.interest-description{
    position: relative;
    font-family: Stoke , Charis SIL , sans-serif;
    font-size: 30px;
    text-align: left;
    left: 300px;
    top: -10px;
}

.podcast{
    position: relative;
    top: -300px;
    right:300px ;
    left:-200px;
    width: 400px;
    height: 400px;


}

.games-grid, .intereses-grid{
    position: relative;
    top: -100px;

}

.games2{
    position: relative;
    left: -90px;
    margin-left: 300px;
    
}

footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-family: 'Stoke , Charis SIL , sans-serif';
    font-size: 33px;
    background-color: #5d2e8c;
    padding: 70px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    }

.social{
    position: relative;
    right: 770px;
    top: 50px;


}

.contactus{
    position: relative;
    top: -50px;
    right:170px;
    text-decoration: none;
    color: #FFFFFF;
}

.siteplan{
    position: relative;
    left: 600px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 50px;
    top: -40px;
}

.site{
    position: relative;
    left: 100px;
    top: -60px;
}

.siteplan{
    text-decoration: none;
    color:#FFFFFF;
    border-style: outset;
    border-radius: 5px;
}

.siteplan:hover{
    color: #FFFFFF;
    transition: .5s;
}
.siteplan:hover{
    background-position: left;
     background-image: linear-gradient(to right,   #6f439b ,#cbc7ec  );
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: left;
    transition: background-position .5s ease;
}