
header{
 display: grid;
 grid-template-columns: 200px 1fr ;
 background-color: #efefef;
 height: 100%;
}

nav{
    margin-top: 86px;
    background-color:#efefef;
    line-height: 30px;
    text-align: center;
    font-size :50px;
}

nav a {
    position: relative;
    bottom: 45px;
    left: 100px;
    min-width: 120px;
    text-decoration: none;
    margin: 20px 40px;
    margin-left: 100px;
    padding: 5px;
    border-radius: 5px;
}

    nav a:link, nav a:visited{
        color:#5d2e8c;
    }

    nav a:hover {
        color:#efefef;
        background-color:#5d2e8c;
      }
    
.logo{
    position: relative;
    width:500px;
    top: 5px;
      }

.content-description{
    display: grid;

}


.texto-encima{
    height: 200px;
    background-color: #5d2e8c;
    color: #FFFFFF;
    text-align: center;
    font-size: 50px;
    padding: 50px 100px 50px 100px;
    
}

.button-box{
    display:grid;
    width: 300px;
    height: 50px;
    background:#FFFFFF;
    color: #5d2e8c;
    position:relative;
    bottom: 100px;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
    padding: 10px 50px 
    font-size: 100px;
    text-align: center;
    border-radius: 5px
    
   
}